@import url("https:/*use.fontawesome.com/releases/v5.3.1/css/all.css");
/*----LOGIN PAGE----*/

#backdrop {
	background-image: url('login-background.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	text-align: center;
	opacity: 0.2;
}

#gridLogin {
	background-color: yellow;
	position: relative;
	font-family: Verdana, Sans-serif;
	display: inline-block;
	border-radius: 5px;
	border-style: outset;
	text-align: center;
	margin-top: 5em;
	margin-bottom: 5em;
	margin-left: 13em;
	margin-right: 13em;
}

div > div > h2 > img {
	height: 43px;
	width: 50px;
	padding: 2em;
	text-align: center;	
}

div > div > div {
	padding-bottom: 2em;
	padding-top: 2em;
	padding-right: 2em;
	border-bottom: solid #c2c2a3;
}



/*----NEW USER----*/

body {
	 font-family: Verdana, Sans-serif;
} 

div > h4 > img {
	color: white;
	height: 20px;
	width: 30px;
}

header {
	display: flex;
	background-color: black;	
}

h1 {
	text-transform: uppercase;
	font-family: Verdana, Sans-serif;
	font-weight: bold;
}

h4 {
	text-align: center;
}

#grid {
	text-align: center;
	color: white;
	align-content: center;
}

#gridLower {
	display: grid;
	grid-template-columns: 30%, auto;
}

#mainBar {
	display: grid;
	background-color: #ffcc99;
	float: right;
	padding: 3em;
}

#sideBar {
	display: grid;
	background-color: #ebebe0;
	padding: 2em;
}

#userName, #password, #emailAddress, #firstName, #lastName {
	background-color: #f5f5f0;
	border-color: grey;
	border-radius: 5px;
	height: 30px;
	width: 350px;
}

#submitButton, #logInButton, #newIssue {
	background-color:  #b35900;
	font-family: Verdana, Sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 10%;
	height: 40px;
	width: 150px;
}

div > a > img {
	height: 20px;
	width: 30px;
}


/*----DASHBOARD-----*/

#mainBar > h1 > #newIssue {
	align-items: right;
}

.open {
	color: white;
	text-transform: uppercase;
	background-color: green;
}

.closed {
	color: white;
	text-transform: uppercase;
	background-color: red;
}

.inProgress {
	text-transform: uppercase;
	background-color: yellow;
}



/*----ADD ISSUE----*/

/*----LOGOUT----*/