/*general and new user layout*/
body{
    margin:0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    background-color: black;
    display: grid;
    align-content: center;
    height: 70px;
    color: white;
    padding-left: 30px;
}
header img{
    height: 35px;
	width: 28Px;
	margin-right: 15px;
}

div > a > img {
	height: 25px;
	width: 22px;
	margin-right: 15px;
}

#gridLower{
    display: flex;
    flex-direction: row;
    height:100%;
}

#sideBar{
    padding-top: 30px;
    padding-left: 20px;
    width: 200px;
    background-color: #ebebe0;
}
#sideBar div{
    margin-bottom: 10px;
}

#mainBar{
    display: grid;
	background-color: #ffcc99;
	float: right;
    padding: 3em;
    width: 100%;
}
#mainBar form input{
    margin-bottom: 30px;
    border-radius: 3px;
    border: 0.5px solid black;
    width: 300px;
    height: 30px; 
}

#mainBar form input[type=submit]{
    width: 150px;
    height: 30px; 
}

/*customize login and logout pages*/
body #backdrop{
    background-image: src="images/login-background";
}

h2 img{
    height: 25px;
	width: 22px;
	margin-right: 15px;
}

#logBody{
    background-image: url("images/login-background.jpg");
    opacity: 75%;
    display: grid;
}

#logBody form{
    background-color: #ebebe0;
    height: 450px;
    width: 300px;
    border-radius: 4px;
    border: 1px black solid;
    margin-left: 35%;
    margin-top: 2%;
    padding-left: 5%;
    padding-top: 7%;
}

#logBody form input{
    height: 20px;
    width: 180px;
    margin-bottom: 30px;
}
#logBody form input[type=submit]{
    width: 100px;
    height: 25px;
    margin-right: 10px;
}


/*customize dashboard page*/



